<p id="notice"><%= notice %></p>

<p>
  <strong>Name</strong>
  <% @person.name %>
</p>

<ul>
  <% @person.schools.each do |school| %>
    <li><%= school.name %>(<%= school.beginning_year %>
    - <%= school.ending_year %>)</li>
  <% end %>
</ul>